body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: black;
    background-color: blanchedalmond;
    padding: 10px;

}
.div {
	width: 400px;
	text-align: justify;
}
img {
	float: left;
}